.paddingForArtistComponent{
    background-color: black;
    border-radius: 50px;
    padding: 0 50px 0;
  }

  .ArtistComponentTitle{
    color: rgba(238, 238, 238, 1);
    margin-top:60px;
    font-size: 50px;
  }

  .ArtistComponentDescription{
    color: rgba(151, 151, 151, 1);
    font-size: 18px;
    padding-bottom:20px;
  }

  .ArtistComponentImage{
    object-fit: cover;
    object-position: 50% center;
    height: 500px;
    width: 100%;
  }

  .categoryHashtags{
    font-size: 28px;
    color:rgba(191, 191, 191, 1);
  }