hr{
      
    border: 0;
    height: 1px;
    width: 30%;
    position: relative;
    margin: 30px auto 0 auto;
    
    &.center-ball{
      background: grey;
      
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background: grey;
        display: inline-block;
        border: 3px solid grey;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        left: 50%;
        margin: 0 0 0 -3px;
      }
    }
    
  }