.password {
    width: 100%;
    position: relative;
    .field {
        background: #fff;
        padding: 16px 0 5px 0;
        width: 100%;
        border-radius: 30px 30px 30px 30px;
        position: relative;
        input {
            width: 100%;
            border: 0;
            outline: none;
            line-height: 20px;
            font-size: 16px;
            padding: 9px 0 0 16px;
            font-family: inherit;
            background: none;
            color: #151924;
            &:valid,
            &:focus {
                & + label {
                    font-size: 11px;
                    transform: translate(0, -8px);
                }
            }
        }
        label {
            position: absolute;
            z-index: 1;
            left: 16px;
            top: 50%;
            line-height: 24px;
            font-size: 16px;
            margin: -12px 0 0 0;
            transition: all .3s ease;
        }
    }
    .fold {
        width: 30%;
        position: absolute;
        left: 70%;
        top: 0;
        bottom: 0;
        display: flex;
        transition: width .5s ease .2s;
        span {
            flex-basis: 50%;
            height: 100%;
            display: block;
            position: relative;
            background: #fff;
            transition: border-radius .3s ease .2s, background .6s ease .2s;
            &:last-child {
                border-radius: 0 30px 30px 0;
            }
            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #fff;
                transition: background .6s ease .2s, clip-path .4s ease .2s, -webkit-clip-path .4s ease .2s;
            }
            &:before {
                transform: translateY(-99%);
            }
            &:after {
                transform: translateY(100%);
            }
            &:nth-child(even) {
                &:before {
                    -webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%);
                    clip-path: polygon(0 100%, 0 100%, 100% 100%);
                }
                &:after {
                    -webkit-clip-path: polygon(100% 0, 0 0, 0 0);
                    clip-path: polygon(100% 0, 0 0, 0 0);
                }
            }
            &:nth-child(odd) {
                &:before {
                    -webkit-clip-path: polygon(100% 100%, 0 100%, 100% 100%);
                    clip-path: polygon(100% 100%, 0 100%, 100% 100%);
                }
                &:after {
                    -webkit-clip-path: polygon(100% 0, 0 0, 100% 0);
                    clip-path: polygon(100% 0, 0 0, 100% 0);
                }
            }
        }
    }
    .unlock {
        position: absolute;
        z-index: 2;
        stroke: none;
        fill: #3F4656;
        display: block;
        width: 12px;
        height: 16px;
        right: 16px;
        top: 50%;
        opacity: 1;
        cursor: pointer;
        transform: translate(0, -50%);
        transition: opacity .4s ease .5s;
    }
    .error {
        position: absolute;
        right: 4px;
        top: 50%;
        display: block;
        width: 16px;
        height: 14px;
        opacity: 0;
        margin: -7px 0 0 0;
        stroke: none;
        z-index: 5;
        fill: #EB3E60;
        transform: scale(.4);
        transition: all .3s ease;
    }
    &.false {
        animation: shake .6s cubic-bezier(.36, .07, .19, .97) both;
        .error {
            opacity: 1;
            transform: scale(1);
            transition: transform .5s ease .75s, opacity .4s ease .75s;
        }
        .unlock {
            opacity: 0;
            transition-delay: 0s;
        }
        .fold {
            width: 18.5%;
            transition-delay: .6s;
            span {
                border-radius: 0;
                transition: border-radius .3s ease .4s, background .7s ease .5s;
                &:before,
                &:after {
                    background: inherit;
                    transition: clip-path .4s ease .5s, -webkit-clip-path .4s ease .5s;
                }
                &:nth-child(even) {
                    background: #fff;
                    &:before {
                        -webkit-clip-path: polygon(0 90%, 0 100%, 100% 100%);
                        clip-path: polygon(0 90%, 0 100%, 100% 100%);
                    }
                    &:after {
                        -webkit-clip-path: polygon(100% 0, 0 0, 0 10%);
                        clip-path: polygon(100% 0, 0 0, 0 10%);
                    }
                }
                &:nth-child(odd) {
                    background: #DAE1F0;
                    &:before {
                        -webkit-clip-path: polygon(100% 90%, 0 100%, 100% 100%);
                        clip-path: polygon(100% 90%, 0 100%, 100% 100%);
                    }
                    &:after {
                        -webkit-clip-path: polygon(100% 0, 0 0, 100% 10%);
                        clip-path: polygon(100% 0, 0 0, 100% 10%);
                    }
                }
            }
        }
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
