.productImage {
    border-radius: 50px;
    padding: 20px;
  }
  
  .carouselImage{
    border-radius: 50px;
  }
  .title {
    font-size: 40px;
    font-weight: bold;
    padding: 2px 20px 1px;
    font-family:Helvetica;
    color: rgba(41, 41, 41, 1);
  }
  
  .paddingTop{
    padding-top: 30px;
  }
  .price{
    padding: 2px 20px 1px;
    color: rgba(90 , 90, 90  , 1);
  }
  .priceText{
    color: rgba(151 , 151, 151  , 1);
  }
  
  .orInPrice{
    color: rgba(151, 151, 151  , 1);
  
  }
  
  .currencyType{
    color: rgba(151, 151, 151  , 1);
  }
  
  /* .insidePrice{
    text-decoration: underline;
  } */
  
  .info {
    padding: 1px 20px 5px;
    font-family:Helvetica;
    color: rgba(131, 131, 131  , 1);
  }
  
  .buttonPadding {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media only screen and (min-width: 1400px) {
    .productImage {
      height:50vh;
      width: 100%;
      object-fit: cover;
      object-position: 45% center;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .productImage {
      height: 450px;
      width: 100%;
      object-fit: cover;
      object-position: 45% center;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .productImage {
      height: 500px;
      width: 100%;
      object-fit: cover;
      object-position: 45% center;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .productImage {
      height: 525px;
      width: 100%;
      object-fit: cover;
      object-position: 45% center;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .productImage {
      height: 550px;
      width: 100%;
      object-fit: cover;
      object-position: 45% center;
    }
  }
  @media only screen and (max-width: 575px) {
    .productImage {
      height: 50vh;
      width: 100%;
      object-fit: cover;
      object-position: 45% center;
    }
  }
  