.carouselImage {
  border-radius: 50px;
}

h3 {
  width: 200px; 
  text-align: center; 
  border-bottom: 1px solid grey; 
  line-height: 0.1em;
  margin-top: 13px; 
  margin-bottom: 20px;
  color: grey;
  font-size: 1.5rem;
} 

.paddingForPrice{
  padding-top: 20px;
}

h3 span { 
   background:rgba(233,234,236,255); 
   padding:0 10px; 
}

.title {
  font-size: 40px;
  font-weight: bold;
  padding: 2px 20px 1px;
  margin-bottom: 0px;
  font-family: Helvetica;
  color: rgba(41, 41, 41, 1);
}
.spanQuanityText{
  padding: 2px 20px 1px;
  font-family: Helvetica;
  color: rgba(90, 90, 90, 1);
  transform: translateY(10%);
}
.paddingTop {
  padding-top: 60px;
}

.paddingForRowQuantity{
  margin-top: 70px;
}
.paddingBTWButtons{
  padding-top: 10px;
  padding-bottom:10px ;
}

.paddingForArtist{
  margin-top: 60px;
  background-color: black;
  border-radius: 50px;
  padding: 0 50px 0;
}
.paddingForDescription{
  margin-top: 60px;
  background-color: rgba(255,103,90,255);
  border-radius: 50px;
  padding: 20px 50px 20PX;
  background-size: cover;
  /* object-fit: cover; */
  /* object-position: center; */
  /* background-position: 30% ; */
}
.paddingForBox{
  margin-top: 60px;
  background-color: rgba(255,103,90,255);
  border-radius: 50px;
  padding: 20px 50px 20PX;
  background-size: cover;
  background-position: 30% ;
}

.rowBox{
  padding-top: 30px;
  padding-bottom: 30px;
}

.textinBox{
  color: white;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.rateTextPadding{
  padding-top: 30px;
}

.ratecolPadding{
  padding-bottom: 2px;
}

.ArtistTitle{
  color: rgba(238, 238, 238, 1);
  padding-top:20px;
}
.MadeByHashtag{
  font-size: 70px;
  color: #fdf989;
  font-weight: bold;
  padding-top: 20px;
}

.ArtistDescription{
  color: white;
  font-size: 18px;
  padding-bottom:20px;
  text-align: justify;
}

.DescriptionTitle{
  font-size: 70px;
  color: #fffdfd;
  padding-top:20px;
}

.ProductDescription{
  color: #fffefe  ;
  font-size: 18px;
}

.productDetailButtonPadding{
  color: rgba(151, 151, 151, 1);
  font-size: 18px;
  padding-bottom:20px;
}

.ArtistImage{
  object-fit: cover;
  object-position: 50% center;
  height: 100%;
  max-width: 500px;
}

.hashtags{
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.price {
  padding: 2px 20px 1px;
  color: rgba(90, 90, 90, 1);
}
.priceText {
  color: rgba(151, 151, 151, 1);
}

.orInPrice {
  color: rgba(151, 151, 151, 1);
}

.currencyType {
  color: rgba(151, 151, 151, 1);
}

.ratingPadding{
  padding-top:20px;
  padding-bottom: 20px ;
}
.ratingHeading{
  color: rgba(90, 90, 90, 1); 
}
.info {
  padding: 1px 20px 5px;
  font-family: Helvetica;
  color: rgba(131, 131, 131, 1);
}

.buttonPadding {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media only screen and (min-width: 1400px) {
  .productImage {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .carouselImage {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .carouselImage {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carouselImage {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
  .paddingForTitle {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .carouselImage {
    height: 650px;
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
  .paddingForTitle {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .productImage {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
  .paddingForTitle {
    padding-top: 40px;
  }
}
