.ArtistListMainDiv{
    background-color: #e9eaec;
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.MadeByHashtagArtistList{
    font-size: 100px;
    color: rgba(121,121,121,1);
    font-weight: bold;
    padding-top: 20px;
}
.MarginForContainer{
    margin-bottom: 30px;
}