.paddingMyCart{
    padding-top: 100px;
    min-height: 98vh;
}
.MyCartTitle{
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 100px;
}
.MyCartPageParentDiv{
  min-height: 100vh;
}
.hrCartRow {
    width: 100%;
    color: rgba(121, 121, 121, 1);
    size: 5;
    margin-left: 0;
  }
.CartFooter{
  height: 40px;
  background-color: black;
  width: 100%;
  padding-top: 5px;
}
.PaymentContainer{
  margin-top: 20px;
  margin-bottom: 20px;
}
.MyCartFooterHeading{
  color: white;
  font-size: 20px;
  text-align: center;
}
.PaymentButtonPadding{
  margin-top: 20px;
  margin-bottom: 20px;
}

  table {
    border: 0px solid white;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  
  table tr {
    background-color: white;
    border: 0px solid #ddd;
    padding: 0.35em;
  }
  
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }
  
  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    .hrCartRow {
      width: 0%;
      color: rgba(121, 121, 121, 1);
      size: 5;
      margin-left: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
  
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    table td::before {
      /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }
  