.parentDiv{
    padding: 0px 10px 0px;
}
.storyPadding{
    margin-top: 100px;
    background-color: black;
    border-radius: 50px ;
    padding: 50px 40px 0px;
    margin-bottom: 10px;
}
.heading1{
    color: white;
    font-size: 60px;

}
.heading2{
    color: rgba(210,210,210,1);
    font-size: 45px;
    padding-bottom: 10px;
}

.paragraph{
    color: rgba(150,150,150,1);
    font-size: 28px;
}

.paragraphDiv{
    padding-bottom: 28px;
}
.storyImage{
    padding-top: 10px;
    width: 100%;
    height: 65vh;
    position: relative;
  object-fit: cover;
  margin-bottom: 30px;
}