@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(./fonts/Helvetica/Helvetica.ttf) format('truetype');
}
.coverImageStyle {
  position: relative;
  object-fit: cover;
  object-position: 45% top;
  height: 100vh;
  width: 100%;
}

.divOfCoverPage {
  overflow: hidden;
  position: relative;
  background-color:#eff0f2;
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  background-size: cover;
}

.navButtons {
  background-color: #f8f000;
  border-radius: 2rem;
  display: inline;
  transform: translateY(20%);
}

.logoImage {
  height: 4vh;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: transparent;
}

.moving-cart {
  position: absolute;
  right: calc(4rem + 10vw);;
  font-size: 24px !important;
  margin-right: 15px;
  transform :translateY(25%);
}
@media (max-width: 576px) {
  .moving-cart {
    position: absolute;
    right: calc(2.5rem + 3vw);
    transform: translateY(25%);
  }
}

@media (min-width: 992px) {
  .moving-cart {
    position: absolute;
    right: calc(1.375rem + 4vw);
    transform: translateY(25%);
  }
}

@media (max-width: 1200px) {
  .coverHeading {
    font-size: calc(1.375rem + 4vw);
  }
}

@media (min-width: 1200px) {
  .coverHeading {
    font-size: calc(1.375rem + 2vw);
  }
}

@media (min-width: 1200px) {
  .coverTextDiv {
    position: absolute;
    top: 26vh;
    left: 50%;
    margin-left: -30vw;
  }
}

@media (max-width: 1200px) {
  .coverTextDiv {
    position: absolute;
    top: 26vh;
    left: 50%;
    margin-left: -37vw;
  }
}

@media (max-width: 1200px) {
  .coverHeading1 {
    font-size: calc(1.5rem + 6vw);
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .coverHeading1 {
    font-size: calc(1.375rem + 4vw);
  }
}

.btn:focus, .btn:active {
  box-shadow: 0px 0px 0 2.5px black !important;
}

.Stories{
  background-size: cover;
  border-radius: 50px;
  padding: 10px 20px 10px;
  background-position: 45% bottom;
  overflow: hidden;
}
.StoryTitle{
  color: white;
  font-size: 70px;
}
.StorySubTitle{
  color: rgba(230,230,230,1);
  font-size: 45px;
}
.StorySubSubTitle{
  margin-top: 50px;
  color: rgba(100,100,100,1);
  font-size: 6.5vw;
}
.StoriesPadding{
  padding: 100px 10px 0px;
}

.ProbleImage {
  object-fit: cover;
  /* object-position: 45% top; */
  height: 100%;
  width: 100%;
}

.ProblemDIV{
  background-color: black;
  border-radius: 50px;
  overflow: hidden;
  padding: 0;
}
.ProblemPaddingContent{
  padding: 20px 10px 20px;
}
.ProblemHeading{
  color:grey;
  font-size: 45px;
}
.ProblemHighlight{
  color: white;
}
.SolutionDIV{
  background-size: cover;
  border-radius: 50px;
  padding: 10px 20px 10px;
  background-position: 45% bottom;
  overflow: hidden;
}
.SolutionHeading{
  /* color:rgba(210,210,210,1); */
  color: #f8f000;
  font-size: 45px;
  font-weight: 600;
}
.SolutionSubHeading{
  /* color:rgba(210,210,210,1); */
  color: #fdf989;
  font-weight: 500;
  font-size: 30px;
  margin-top: 40px;
}
.SolutionSpanSubHeading{
  /* color:rgba(210,210,210,1); */
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
}
.SolutionHashtagPadding{
  padding-bottom: 0px;
}
.SolutionHashtagSecondPadding{
  padding-bottom: 10px;
}
.SolutionPaddingContent{
  padding: 20px 10px 20px;
}
.SolutionSubPaddingContent{
  padding: 20px 10px 5px;
}
.SolutionHashtag{
  color: #eff0f2;
  font-size: 6.5vw;
}
.CustomerHeading{
  font-size: 45px;
  font-weight: 700;
  color: white
}
.CustomerHighlight{
  color: #f8f000;
}
.CustomerQuestion{
  font-size: 40px;
  font-weight: 500;
  color: white
}
.CustomerAnswer{
  font-size: 25px;
  font-weight: 500;
  color: white
}
.footerTag{
  background-color: black;
  margin-top: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.MarginForQuestion{
  margin-top:40px
}